*.pyc

# IDE
aem-cmd.iml
.idea

# Dist residuals
dist
build
aem_cmd.egg-info
__pycache__

# Test artefacts
.coverage
test_reports
tests.log
htmlcov

mock_package-1.6.5.zip

# Puppet stuff
puppet-module/pkg

# Vagrant testing
Vagrantfile
.vagrant
